
@import '../variables';

.header__logo {
  // margin: auto;
  // height: 50px;
  padding: 10px;
  color: $color-body-font;
  background-color: $header-link;
  font-size: 16px;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;

  &:hover { 
    text-decoration: none;
    color: $color-body-font;
  }
}
