// /*

// This is a development CSS file which is built to a minified
// production stylesheet in assets/built/screen.scss using gulp dev

// */

/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import "_variables.scss";
@import "components/_footer.scss";
@import "components/_header.scss";
@import "components/_global.scss";
@import "components/_ghost.scss";
@import "components/_lists.scss";
@import "components/_grid.scss";
@import "components/_tables.scss";
@import "components/_forms.scss";
@import "components/_buttons.scss";
@import "components/_actions.scss";
@import "components/_hamburger.scss";
@import "components/_animations.scss";
@import "components/_prism.scss";

/* Main - Theme styles
/* ---------------------------------------------------------- */

body {
  font-family: $font-muli;
  background: $color-bg;
  // transition: background 0.3s ease-out;
  // transition-delay: 0.25;

  @include light-mode {
    background: $color-bg-light;
    color: $color-base-light-inverted;
  }
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  border-radius: 100%;
}

.hidden {
  visibility: hidden;
  position: absolute;
  text-indent: -9999px;
}



// /* Layout syling for all pages
// /* ---------------------------------------------------------- */

.site-wrapper {
  padding: 3vw;
  min-height: 100vh;
}
@media (max-width: 850px) {
  .site-wrapper {
    padding: 6vw;
  }
}

.page-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw 0;
  max-width: 70%;
  margin: auto;
  text-align: center;
}

.error-head {
  height: 75vh;
}

.error-head h1 {
  margin: 0;
  font-size: 7rem;
  line-height: 1.1em;
  font-weight: $font-heavy;
  letter-spacing: 10px;
}

.error-head p {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: color($color-base l(+50%));
}

.error-link {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: $color-bg;
}

.page-head-title {
  margin: 0;
  font-size: 4.2rem;
  color: $color-body-font;
  @include light-mode {
    color: $color-body-font-light;
  }
}
@media (max-width: 500px) {
  .page-head-title {
    font-size: 2rem;
  }
}

.page-head-description {
  margin: 0 0 1.6vw;
  color: color($color-border l(-20%));
  font-size: 2.2rem;
  line-height: 1.35em;
}

@media (max-width: 500px) {
  .page-head-description {
    font-size: 1.6rem;
  }
}

// /* Landing Page
// /* ---------------------------------------------------------- */


// /* Post Feed / Post Card on Index page
// /* ---------------------------------------------------------- */

.post-feed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.post-card {
  margin: 25px 200px;
  position: relative;
  flex: 1 1 50%;
  display: flex;
  height: 35vw;
  /* background: linear-gradient(135deg, #1f1f1f 0%, #111 100%) center center; */
  /* based #1d1d1f */
  background: linear-gradient(135deg, #242426 0%, #161618 100%) center center;
  background-size: cover;
  overflow: hidden;
  counter-increment: posts;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  // box-shadow: 1px 1px 1px 1px $color-border-light;
  border-radius: 2px;
}

@media (max-width: 700px) {
  .post-card {
    flex: 1 1 100%;
    height: 70vw;
  }
}

.post-card-large {
  flex: 1 1 100%;
}

.post-card-link {
  flex: 1 1 auto;
  display: block;
}

.post-card-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $color-bg;
  text-decoration: none;
  // background: rgba(0, 0, 0, 0.2);
  background: white; 
  // opacity: 1;
  // transition: opacity 0.5s cubic-bezier(0.33, 0, 0.2, 1);
  &:hover {
    // background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1)
  }
  img {
    height: 190px;
    width: 700px;
    object-fit: cover;
  }
}

.post-card-date,
.post-card-body,
.post-card-tag-link {
  font-size: 1.6rem;
  color: $color-border-light;
}

.post-card-tag {
  padding-bottom: 10px;
}

.post-card-tag-link {
  &:hover {
    font-weight: bold;
    color: $color-sub-base-light;
  }
}

.post-card-readmore {
  margin-top: 11.2px;
  font-size: 1.6rem;
  color: $color-sub-base-light;
  &:hover {
    // text-decoration: underline;
    font-weight: bold;
  }
}

.post-card-body {
  margin-top: 10px;
}

.post-card-date {
  margin-top: 10px;
  font-style: italic;
}

/* Posts with images */
///////////////////////////////////////////
.post-card.with-image .post-card-content {
  // hide content until hover
  // opacity: 0;
  padding: 100px 20px;
  justify-content: flex-start;
  align-items: flex-start;
  // padding: 4vw;
  padding: 24px;
  flex-direction: column;
}
@media (max-width: 700px) {
  .post-card.with-image .post-card-content {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .post-card .post-card-title {
    font-size: 3.4rem;
  }
  .post-card .post-card-date,
  .post-card .post-card-body,
  .post-card .post-card-readmore,
  .post-card .post-card-tag-link {
    font-size: 1.4rem;
  }
}
@media (max-width: 940px) {
  /* .post-card .post-card-date, */
  .post-card .post-card-body,
  .post-card .post-card-readmore {
    display: none;
  }
}
@media (max-width: 700px) {
  .post-card:before {
    font-size: 50vw;
  }
  /* .post-card .post-card-date, */
  .post-card .post-card-body,
  .post-card .post-card-readmore {
    display: block;
  }
}
@media (max-width: 430px) {
  /* .post-card .post-card-date, */
  .post-card .post-card-body,
  .post-card .post-card-readmore {
    display: none;
  }
}

// on hover make darker background
.post-card-link:hover .post-card-content {
  text-decoration: underline;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.post-card-title {
  color: $color-body-font;
  padding-top: 10px;
  margin: 0;
  display: inline-block;
  font-size: 2.4rem;
  // max-width: 70%; 
  text-align: center;
  transition: all 0.3s cubic-bezier(0.33, 0, 0.2, 1);

  &:hover {
    // text-decoration: underline;
    font-weight: bold;
  }
}

/* Posts without images */
////////////////////////////////////////////////////////////
.post-card.no-image:before {
  display: block;
  content: counter(posts);
  position: absolute;
  bottom: -0.15em;
  right: 5vw;
  font-size: 22vw;
  line-height: 1em;
  font-weight: $color-body-font;
  letter-spacing: -0.1em;
  font-family: $font-muli;
  color: rgba(0, 0, 0, 0.2);
}

.post-card.no-image .post-card-content {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4vw;
  flex-direction: column;
}

.post-card.no-image .post-card-title {
  font-size: 5rem;
  line-height: 1.15em;
  text-align: left;
  color: $color-bg;
}

.post-card.no-image:hover .post-card-title {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .post-card.no-image .post-card-title {
    font-size: 3.4rem;
  }
  .post-card.no-image .post-card-date,
  .post-card.no-image .post-card-body,
  .post-card.no-image .post-card-readmore,
  .post-card.no-image .post-card-tag-link {
    font-size: 1.4rem;
  }
}
@media (max-width: 940px) {
  /* .post-card.no-image .post-card-date, */
  .post-card.no-image .post-card-body,
  .post-card.no-image .post-card-readmore {
    display: none;
  }
}
@media (max-width: 700px) {
  .post-card.no-image:before {
    font-size: 50vw;
  }
  /* .post-card.no-image .post-card-date, */
  .post-card.no-image .post-card-body,
  .post-card.no-image .post-card-readmore {
    display: block;
  }
}
@media (max-width: 430px) {
  /* .post-card.no-image .post-card-date, */
  .post-card.no-image .post-card-body,
  .post-card.no-image .post-card-readmore {
    display: none;
  }
}


/*  Blog Post Template Content
/* ---------------------------------------------------------- */

.post-content {
  max-width: 720px;
  margin: 0 auto;
  padding: 6vw 0;
}

.post-content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content-title {
  margin: 0 0 3vw;
  color: $color-body-font;
  text-align: center;
  @include light-mode {
    color: $color-body-font-light;
  }
}

.post-content-excerpt {
  margin: -2vw 0 3vw;
  font-size: 2.2rem;
  line-height: 1.6em;
  color: $color-body-font;
  text-align: center;
  opacity: 0.7;
  @include light-mode {
    color: $color-body-font-light;
  }
}
@media (max-width: 500px) {
  .post-content-excerpt {
    font-size: 1.8rem;
  }
}

.post-content-image {
  margin: 4vw 0;
  position: relative;
  width: 75vw;
  min-width: 100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}

.post-content-body {
  font-size: 1.9rem;
  line-height: 1.65em;
}
@media (max-width: 500px) {
  .post-content-body {
    font-size: 1.7rem;
  }
}

.post-content-body h1,
.post-content-body h2,
.post-content-body h3,
.post-content-body h4,
.post-content-body h5,
.post-content-body h6 {
  color: $color-body-font;
  @include light-mode {
    color: $color-body-font-light;
  }
}

.post-content-body li {
  word-break: break-word;
}

.post-content-body li p {
  margin: 0;
}

.post-content-body iframe {
  margin: 0 auto !important;
}

.post-content-body blockquote {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  /* border-left: #3eb0ef 3px solid; */
  border-left: $color-primary 3px solid;
}

.post-content-body blockquote p {
  margin: 0 0 1em 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
}

.post-content-body blockquote p:last-child {
  margin-bottom: 0;
}

.post-content-body code {
  padding: 0 5px 2px;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 400 !important;
  /* background: $color-bg; */
  background: var($color-bg-dark) !important;
  border-radius: 3px !important;
}

.post-content-body p code {
  word-break: break-all;
}

.post-content-body pre {
  overflow-x: auto;
  margin: 1.5em 0 3em;
  padding: 20px;
  max-width: 100%;
  border: $color-bg-bright 1px solid !important;
  color: $color-bg;
  font-size: 1.4rem;
  line-height: 1.5em;
  background: $color-bg-dark !important;
  border-radius: 5px;
  @include light-mode {
    color: $color-body-font-light;
  }
}

.post-content-body pre code {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
}

.post-content-body pre code :not(span) {
  color: inherit;
}

.post-content-body .fluid-width-video-wrapper {
  margin: 1.5em 0 3em;
}

.post-content-body hr {
  margin: 4vw 0;
}

.post-content-body hr:after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  display: block;
  margin-left: -10px;
  width: 1px;
  height: 30px;
  background: $color-body-font;
  // box-shadow: $color-body-font 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  transform: rotate(45deg);
  @include light-mode {
    background: $color-body-font-light;
    box-shadow: $color-body-font-light 0 0 5px;
  }
}


/* Blog Post Template footnotes
/* ---------------------------------------------------------- */

.footnotes-sep {
  margin-bottom: 30px;
}

.footnotes {
  font-size: 1.5rem;
}

.footnotes p {
  margin: 0;
}

.footnote-backref {
  color: $color-primary !important;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none !important;
  box-shadow: none !important;
}

// /* Author Archive
// /* ---------------------------------------------------------- */

// .author-meta {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: 10px;
//   color: color($color-border l(-20%));
// }

// .author-links {
//   display: flex;
//   align-items: center;
//   margin-top: 20px;
// }

// .author-links a {
//   display: block;
//   margin: 0;
//   padding: 0 12px;
//   color: $color-base;
//   opacity: 0.4;
// }

// .author-links a:hover {
//   text-decoration: none;
//   opacity: 1;
// }

// .author-links .divider {
//   display: inline-block;
//   margin: 0 3px;
// }

/* Page Template
/* ---------------------------------------------------------- */

.page-template .post-content-body h1,
.page-template .post-content-body h2,
.page-template .post-content-body h3 {
  text-align: center;
}

// /* Tag Pages Template
// /* ---------------------------------------------------------- */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 720px;
  margin: 0 auto;
}

.tag-item {
  flex: 1 1 auto;
  margin: 0.7vw;
  padding: 0.5vw;
  background-color: $color-border-light;
  color: $color-bg;
  font-size: 2rem;
  line-height: 1em;
  white-space: nowrap;
  @include light-mode {
    background-color: $color-bg-bright-light;
    color: $color-sub-base-light;
  }
}

.tag-item:hover {
  // color: $color-bg-bright;
  background-color: $color-sub-base-light;
  transition: all 0.4s ease-out;
  

  @include light-mode {
    color: $color-bg-bright-light;
    background-color: $color-sub-base-light;
  }
}

@media (max-width: 700px) {
  .tag-item {
    font-size: 2rem;
    margin: 1.4vw;
    padding: 1vw;
  }
}

.tag-page-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6vw 0;
  max-width: 70%;
  margin: auto;
  text-align: center;
}
