/* Variables
/* ---------------------------------------------------------- */

// 

/* Fonts */
$font-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$font-serif: 'New York', serif;
$font-muli: 'Muli', sans-serif;
$font-mono: monospace;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-heavy: 800;

// font-family: 'Muli', sans-serif;
// font-family: 'Roboto', sans-serif;


/* Breakpoints */
$xlarge: 1680px;
$large: 1280px;
$medium: 980px;
$small: 740px;
$xsmall: 480px;

/* Sizes */
$height: 4rem;
$margin: 2rem;
$radius: 0.5rem;

/* Colours */

$color-sub-base: #aaa;
$color-bg-dark: #131313;
$color-bg-bright: #1d1d1f;

$color-primary-light: #00529E;
$color-base-light: #fff;
$color-base-light-inverted: #131313;
$color-sub-base-light: #454545;
$color-bg-light: #f8f8f8;

$color-bg-bright-light: #EDEDED;
$color-bg-dark-light: #131313;
$color-body-font-light: #131313;
$color-body-font-light-2: #000000;
$link-color-light: #0074c1;


$color-primary: #3eb0ef;
$color-base: #131313;
$color-border: #ddd;
$color-bg: #f8f8f8;
$color-body-font: #141414;

$header-link: #c7c7c7;
$color-border-light: #ababab;
